/*
 * Copyright (C) 2022 Seeed Studio
 *
 * MIT License
 *
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/pinctrl/pinctrl-tegra.h>
#include <dt-bindings/gpio/tegra234-gpio.h>
#include <dt-bindings/clock/tegra234-clock.h>
#include <dt-bindings/net/ti-dp83867.h>

/ {
	overlay-name = "Jetson Seeed AGX Orin reServer Overlay";
	jetson-header-name = "Jetson 40pin Header";
	compatible = "nvidia,p3737-0000+p3701-0000", "nvidia,p3737-0000+p3701-0004", "nvidia,p3737-0000+p3701-0005", "nvidia,p3737-0000+p3701-0008";

	//Gigabit Ethernet
	fragment@0 {
		target-path = "/ethernet@2310000";

		__overlay__ {
			status = "okay";
			nvidia,mac-addr-idx = <1>;
			nvidia,max-platform-mtu = <8000>;
			nvidia,pause_frames = <0>;
			nvidia,phy-reset-gpio = <&tegra_main_gpio TEGRA234_MAIN_GPIO(G, 5) 0>;
			phy-handle = <&phy>;
			phy-mode = "rgmii-id";		
		
			mdio {
				compatible = "nvidia,eqos-mdio";
				#address-cells = <1>;
				#size-cells = <0>;
				phy: phy@0 {
					reg = <0>;
					compatible = "ethernet-phy-ieee802.3-c22";
					tx-fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_4_B_NIB>;
					rx-fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_4_B_NIB>;
					ti,max-output-impedance;
				//	ti,clk-output-sel = <DP83867_CLK_O_SEL_CHN_A_RCLK>;
					ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_25_NS>;
					ti,tx-internal-delay = <DP83867_RGMIIDCTL_2_75_NS>;
					interrupt-parent = <&tegra_main_gpio>;
					interrupts = <TEGRA234_MAIN_GPIO(G, 4) IRQ_TYPE_LEVEL_LOW>; //<TODO> Need to check
				};			
			};
		};
	};
	
	//refer to https://forums.developer.nvidia.com/t/tlv320aic3204-driver-will-support-for-agx-orin-64gb-som/239023/40
	//playback
	// amixer -c APE cset name="I2S1 Mux" ADMAIF1
	// aplay -D hw:APE,0 file_example_WAV_10MG.wav
	// amixer -c APE cset name="tlv HP DAC Playback Volume" 118
	// amixer -c APE cset name="tlv PCM Playback Volume" 1
	// amixer -c APE cset name="tlv PGA Level Volume" 95


	// //record
	// amixer -c APE cset name="ADMAIF1 Mux" I2S1
	// arecord -D hw:APE,0 -c 2 -r 48000 -f S16_LE -d 15 my.wav
	fragment@1 {
		target-path = "/i2c@31e0000";
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			
			/delete-node/ rt5640.8-0018@18;

			aic32x4: tlv320aic3104.1-001b@18 {
				compatible = "ti,tlv320aic3104";
				status = "okay";
				reg = <0x18>;
				clocks = <&bpmp TEGRA234_CLK_AUD_MCLK>;
				//clocks = <&tegra_car TEGRA186_CLK_AUD_MCLK>; 
				clock-names = "mclk";
				sound-name-prefix = "tlv";
				#sound-dai-cells = <1>;
				dv-supply = <&battery_reg>;
				av-supply = <&battery_reg>;
				iov-supply = <&battery_reg>;
			};
		};
	};

	fragment@2 {
		target-path="/";
		__overlay__ {
			clocks {
				aic32x4_mclk: aic32x4_mclk {
					compatible = "fixed-clock";
					#clock-cells = <0>;
					clock-frequency = <12288000>;
					clock-output-names = "aic32x4-mclk";
					status = "okay";
				};
			};
		};
	};

	fragment@3 {
		target = <&tegra_sound>;

		__overlay__ {
			status = "okay";
			nvidia-audio-card,widgets =
					"Headphone", "tlv Headphone Jack",
					"Line", "tlv Line In";
			nvidia-audio-card,routing =
					"tlv Headphone Jack",       "tlv HPLOUT",
					"tlv Headphone Jack",       "tlv HPROUT",
					"tlv LINE1L",               "tlv Line In",
					"tlv LINE1R",               "tlv Line In";
			nvidia-audio-card,mclk-fs = <256>;
		};
	};

	fragment@4 {
		target = <&i2s1_to_codec>;
		bitclock-master;
		frame-master;
		__overlay__ {
			link-name = "ti-capture";
			format = "i2s";
			codec {
					sound-dai = <&aic32x4 0>;
					prefix = "tlv";
			};
		};
	};

	//sata
	fragment@5{
			target-path="/pcie@14180000";
			__overlay__ {
					status = "okay";
					phys = <&p2u_hsio_0>;
					phy-names = "p2u-0";
			};
	};

	//remove id-gpio = <&tegra_main_gpio TEGRA234_MAIN_GPIO(Q, 1) GPIO_ACTIVE_HIGH>; lock
	fragment@6{
			target = <&p3737_avdd_cam_2v8>;
			__overlay__ {
				status = "disabled";
			};
	};

	//set typc-c to gpio-usb-b-connector
	//refer to https://docs.nvidia.com/jetson/archives/r35.5.0/DeveloperGuide/HR/JetsonModuleAdaptationAndBringUp/JetsonAgxOrinSeries.html#Under%20the%20Connector%20Node%20(Not%20Used%20on%20the%20P3737%20Carrier%20Board)
	fragment@7{
		//path xusb_padctl@3520000
		target = <&xusb_padctl>;
		__overlay__ {
				ports {
					usb2-0 {
						mode = "otg";
						connector {
							compatible = "usb-b-connector", "gpio-usb-b-connector";
							label = "micro-USB";
							type = "micro";
							vbus-gpio = <&tegra_main_gpio TEGRA234_MAIN_GPIO(AF, 3) GPIO_ACTIVE_HIGH>;
							id-gpio = <&tegra_main_gpio TEGRA234_MAIN_GPIO(AF, 2) GPIO_ACTIVE_HIGH>;
						};
					};
				};
		};
	};

	//PCA9535RGER: IIC to gpio
	//eg: set  M2B_DPR_3V3  to low: sudo gpioset  gpiochip2 0=0 
	fragment@8{
		target-path = "/i2c@3180000";
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;

			gpio_xten: gpio_xten@21 {
				compatible = "nxp,pca9535";
				reg = <0x21>;
				gpio-controller;
				#gpio-cells = <2>;

				interrupt-controller;
				#interrupt-cells=<2>;

				interrupt-parent = <&tegra_main_gpio>;
				interrupts = <TEGRA234_MAIN_GPIO(AC, 5) IRQ_TYPE_EDGE_FALLING>;

				gpio-line-names =
						"M2B_DPR_3V3"			,"M2B_P_OFF_N_3V3",
						"M2B_W_DIS2_N_3V3"		,"PCIe_WAKE_3V3",
						"SIM_MUC_SEL_3V3"		,"PCIe_SX1261_RST_N_3V3",
						"M2B_W_DIS1_N_3V3"		,"M2B_PCIe_RST_N_3V3",
						"CAN1_120R_EN_3V3"		,"CAN0_120R_EN_3V3",
						"TPM_RST_3V3"			,"TPM_CS_3V3",
						"CODEC_RST_N_3V3"		,"USB_HUB_RST_N_3V3",
						"CAM_VDD_SYS_EN_3V3"		,"UART2_EN_3V3";

				gpio-line-offsets = <0>, <1>, <2>, <3>, <4>, <5>, <6>, <7>, <8>, <9>, <10>, <11>, <12>, <13>, <14>, <15>;
			};
		};
	};

	fragment@9 {
		target-path = "/spi@c260000";
		__overlay__ {
			#address-cells = <0x01>;
			#size-cells = <0x00>;

			status = "okay";
			cs-gpios = <&tegra_main_gpio TEGRA234_MAIN_GPIO(M, 3) GPIO_ACTIVE_HIGH>;
			num-cs = <1>;

			slb9670@0 {
				compatible = "infineon,slb9670";
				status = "okay";
				reg = <0x0>;
				spi-max-frequency = <10000000>;
				controller-data {
					nvidia,cs-setup-clk-count = <0x1e>;
					nvidia,cs-hold-clk-count = <0x1e>;				
					nvidia,rx-clk-tap-delay = <0x7>;
					nvidia,tx-clk-tap-delay = <0x0>;
					nvidia,cs-inactive-cycles = <0x6>;	
				};
			};
			
		};
	};
	fragment@10{
			target = <&dsi_vdd_1v8_bl_en>;
			__overlay__ {
				status = "disabled";
			};
	};

};
	

