Section: misc
Priority: optional
Homepage: https://github.com/Seeed-Studio/seeed-linux-dtoverlays
Standards-Version: 3.9.6

Maintainer: Baozhu Zuo <zuobaozhu@gmail.com>
Version: 1stretch
Architecture: armhf
Readme: readme.md
Description: seeed linux dtoverlays
 Kernel modules for grove devices

