/*
 * Copyright (C) 2022 Seeed Studio
 *
 * MIT License
 *
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/pinctrl/pinctrl-tegra.h>
#include <dt-bindings/gpio/tegra234-gpio.h>

/ {
    overlay-name = "Jetson Seeed PCA9535";
	jetson-header-name = "Jetson Orin NX PCA9535";
	compatible = "nvidia,p3768-0000+p3767-0000", "nvidia,p3509-0000+p3767-0000", "nvidia,p3767-0000", "nvidia,tegra234", "nvidia,tegra23x";

    fragment@0 {
		target-path = "/i2c@c240000";

		__overlay__ {
            #address-cells = <1>;
		    #size-cells = <0>;

			gpio_xten: gpio_xten@21 {
				compatible = "nxp,pca9535";
				reg = <0x21>;
                gpio-controller;
                #gpio-cells = <2>;

                interrupt-controller;
                #interrupt-cells=<2>;

                interrupt-parent = <&tegra_main_gpio>;
                interrupts = <TEGRA234_MAIN_GPIO(N, 1) IRQ_TYPE_EDGE_FALLING>;
			};
		};
	};
};

