/*
 * Copyright (C) 2022 Seeed Studio
 *
 * MIT License
 *
 */

/dts-v1/;
/plugin/;
 
/ {
	overlay-name = "reComputer sdmmc";
	jetson-header-name = "Jetson 40pin Header";
	compatible = "nvidia,p3449-0000-b00+p3448-0000-b00";

	fragment@0 {
		target = <&sdmmc3>;
		__overlay__ {
			status = "okay";
		};
	};
};
