// Definitions for MCP23008 Gpio Extender from Microchip Semiconductor

/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2835";

	fragment@0 {
		target = <&i2c0>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@1 {
		target = <&gpio>;
		__overlay__ {
			mcp23008_pins: mcp23008_pins@20 {
				brcm,pins = <12>;
				brcm,function = <0>;
				brcm,pull = <2>; /* 0 = none, 1 = pull down, 2 = pull up */
			};
		};
	};

	fragment@2 {
		target = <&i2c0>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;

			mcp23008: mcp@20 {
				compatible = "microchip,mcp23008";
				reg = <0x20>;
				gpio-controller;
				#gpio-cells = <2>;

				status = "okay";
			};
		};
	};

	fragment@3 {
		target = <&mcp23008>;
		mcp23008_irq: __overlay__ {
			#interrupt-cells=<2>;
			interrupt-parent = <&gpio>;
			interrupts = <12 2>; /* IRQ_TYPE_EDGE_FALLING */
			interrupt-controller;
			microchip,irq-mirror;
		};
	};

	fragment@4 {
		target = <&leds>;
		__overlay__ {
			compatible = "gpio-leds";

			usr_led@0 {
				label = "usr_led0";
				linux,default-trigger = "default-off";
				gpios = <&mcp23008 4 1>;
			};

			usr_led@1 {
				label = "usr_led1";
				linux,default-trigger = "default-off";
				gpios = <&mcp23008 5 1>;
			};

			usr_led@2 {
				label = "usr_led2";
				linux,default-trigger = "default-off";
				gpios = <&mcp23008 6 1>;
			};

			usr_led@3 {
				label = "usr_buzzer";
				linux,default-trigger = "default-off";
				gpios = <&mcp23008 7 1>;
			};
		};
	};

	__overrides__ {
		gpiopin = <&mcp23008_pins>,"brcm,pins:0",
				<&mcp23008_irq>,"interrupts:0";
		addr = <&mcp23008>,"reg:0", <&mcp23008_pins>,"reg:0";
		noints = <0>,"!1!4";
	};
};

