/*
 * Copyright (C) 2021 Seeed Studio
 * ruiqian <ruiqian.tang@seeed.cc>
 *
 * MIT License
 *
 */
 /dts-v1/;
 /plugin/;

 #include "dt-bindings/gpio/gpio.h"

 #define LED_RED_PINS <&gpio 20 GPIO_ACTIVE_LOW>
 #define LED_GREEN_PINS <&gpio 26 GPIO_ACTIVE_LOW>
 #define LED_BLUE_PINS <&gpio 27 GPIO_ACTIVE_LOW>
 #define LED_BEEPER_PINS <&gpio 21 GPIO_ACTIVE_HIGH>

 / {
	fragment@0 {
        target-path="/";
        __overlay__ {
            hardware = "reComputer-R100x V1.0";
        };
    };

	fragment@1 {
		target = <&i2c1>;
		__overlay__ {
			clock-frequency = <100000>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";
		};
	};

	fragment@2 {
		target = <&i2c3>;
		__overlay__ {
			clock-frequency = <400000>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			pcf857x: pcf@21 {
				compatible = "nxp,pca9535";
				reg = <0x21>;
				status = "okay";

				gpio-controller;
				#gpio-cells = <2>;

				gpio-line-names =
					"LoRaWAN_SX1262_CS"	 	,"LoRaWAN_SX1262_RST",
					"LoRaWAN_SX1302_RST"	,"LTE_RESET",
					"TPM_RST"				,"gpio_pin5",
					"gpio_pin6"				,"gpio_pin7",
					"EEPROM_WP"				,"VDD_OUT_CTL",
					"VDD_5V_OUT_CTL"		,"USB2_RST_EN",
					"RS485_POWER_EN"		,"gpio_pin13",
					"gpio_pin14"			,"gpio_pin15";
					
				LoRaWAN_SX1262_CS {
					gpios = <&pcf857x 0 GPIO_ACTIVE_HIGH>;
					output-low;
					line-name = "LoRaWAN_SX1262_CS";
				};

				LoRaWAN_SX1262_RST {
					gpios = <&pcf857x 1 GPIO_ACTIVE_HIGH>;
					output-low;
					line-name = "LoRaWAN_SX1262_RST";
				};

				LoRaWAN_SX1302_RST {
					gpios = <&pcf857x 2 GPIO_ACTIVE_HIGH>;
					output-low;
					line-name = "LoRaWAN_SX1302_RST";
				};

				LTE_RESET {
					gpios = <&pcf857x 3 GPIO_ACTIVE_HIGH>;
					output-high;
					line-name = "LTE_RESET";
				};

				TPM_RST {
					gpios = <&pcf857x 4 GPIO_ACTIVE_HIGH>;
					output-high;
					line-name = "TPM_RST";
				};

				VDD_OUT_CTL {
					gpios = <&pcf857x 9 GPIO_ACTIVE_HIGH>;
					output-high;
					line-name = "VDD_OUT_CTL";
				};

				VDD_5V_OUT_CTL {
					gpios = <&pcf857x 10 GPIO_ACTIVE_HIGH>;
					output-high;
					line-name = "VDD_5V_OUT_CTL";
				};

				USB2_RST_EN {
					gpios = <&pcf857x 11 GPIO_ACTIVE_HIGH>;
					output-high;
					line-name = "USB2_RST_EN";
				};

				RS485_POWER_EN {
					gpios = <&pcf857x 12 GPIO_ACTIVE_HIGH>;
					output-high;
					line-name = "RS485_POWER_EN";
				};
			};
		};
	};

	fragment@3 {
		target = <&i2c1_pins>;
		pins2: __overlay__ {
			brcm,pins = <44 45>;
			brcm,function = <6>; /* alt 2 */
		};
	};

	fragment@4 {
		target = <&i2c3_pins>;
		__overlay__ {
			brcm,pins = <2 3>;
		};
	};

	fragment@5 {
		target = <&spi0>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@6 {
		target = <&spidev0>;
		__overlay__ {
			status = "disabled";
		};
	};

	fragment@7 {
		target = <&spi0>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			slb9670: slb9670@0 {
				compatible = "infineon,slb9670";
				reg = <0>;	/* CE0 */
				#address-cells = <1>;
				#size-cells = <0>;
				spi-max-frequency = <32000000>;
				status = "okay";
			};

		};
	};

	fragment@8 {
		target = <&uart2>;
		__overlay__ {
			rts-gpio = <&gpio 6 GPIO_ACTIVE_HIGH>;
		};
	};

	fragment@9 {
		target = <&uart3>;
		__overlay__ {
			rts-gpio = <&gpio 17 GPIO_ACTIVE_HIGH>;
		};
	};

	fragment@a {
		target = <&uart5>;
		__overlay__ {
			label = "RS485_3";
			linux,rs485-enabled-at-boot-time;
			rts-gpio = <&gpio 24 GPIO_ACTIVE_HIGH>;
			status = "okay";
		};
	};
};

#include "reComputer-R100x.dtsi"