/*
 * Copyright (C) 2021 Seeed Studio
 * ruiqian <ruiqian.tang@seeed.cc>
 *
 * MIT License
 *
 */
 /dts-v1/;
 /plugin/;

 #include "dt-bindings/gpio/gpio.h"

 / {
	compatible = "brcm,bcm2835", "brcm,bcm2708", "brcm,bcm2709", "brcm,bcm2711", "brcm,bcm2712";

	fragment@0 {
        target-path="/";
        __overlay__ {
            hardware = "reComputer AI BOX -cm5 V1.0";
        };
    };

	fragment@1 {
		target-path="/";
		__overlay__ {
			tlv320aic3104_mclk: tlv320aic3104_mclk {
				#clock-cells = <0>;
				compatible = "fixed-clock";
				clock-frequency = <24576000>;
			};
		};
	};

	fragment@4 {
		target = <&i2c6>;
		__overlay__ {
			status = "okay";
			pinctrl-0 = <&rp1_i2c6_38_39>;
			pinctrl-names = "default";
			clock-frequency = <100000>;
			#address-cells = <1>;
			#size-cells = <0>;
			
			pcf8563w@51 {
				compatible = "nxp,pcf8563w";
				reg = <0x51>;
				reset-source;
				/* 0 = 4096Hz, 1 = 64Hz, 2 = 1Hz, 3 = 1/60Hz */
				timer-frequency = <0x02>;
				/* Timeout count, max 255 min 2*/
				default-timeout =  <120>;
				min-hw-heartbeat-ms = <2000>;
			};
		};
	};

	fragment@5 {
		target = <&i2c1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";
			
			tlv320aic3104: tlv320aic3104@18 {
				#sound-dai-cells = <0>;
				compatible = "ti,tlv320aic3104";
				reg = <0x18>;
				ai3x-micbias-vg = <2>;// set MICBIAS to 2.5v
			};

			eeprom@50 {
				compatible = "atmel,24c32";
				reg = <0x50>;
				wp-gpios = <&gpio 27 GPIO_ACTIVE_HIGH>;
			};
		};
	};

	fragment@6 {
		target = <&gpio>;
		__overlay__ {
			spi4_cs_pins: spi14_cs_pins {
				brcm,pins = <8>;
				brcm,function = <1>; /* output */
			};
		};
	};

	fragment@7 {
		target = <&spidev0>;
		__overlay__ {
			status = "disabled";
		};
	};

	fragment@8 {
		target = <&spidev1>;
		__overlay__ {
			status = "disabled";
		};
	};

	fragment@9 {
		target = <&spi0_cs_pins>;
		__overlay__ {
			brcm,pins = <8>;
		};
	};

	fragment@10 {
		target = <&spi0>;
		__overlay__ {
			/* needed to avoid dtc warning */
			#address-cells = <1>;
			#size-cells = <0>;
			pinctrl-names = "default";
			cs-gpios = <&gpio 8 1>;
			status = "okay";

			slb9670: slb9670@0 {
				compatible = "infineon,slb9670";
				reg = <0>;	/* CE0 */
				#address-cells = <1>;
				#size-cells = <0>;
				spi-max-frequency = <32000000>;
				status = "okay";
			};
		};
	};

	fragment@11 {
		target = <&i2s_clk_consumer>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@12 {
		target = <&sound>;
		slave_overlay: __overlay__ {
			compatible = "simple-audio-card";
			simple-audio-card,format = "i2s";
			simple-audio-card,name = "seeed2micvoicec";
			i2s-controller = <&i2s_clk_consumer>;
			status = "okay";
			
			simple-audio-card,widgets =
			"Headphone", "Headphone Jack",
			"Line", "Line In";
			simple-audio-card,routing =
			"Headphone Jack",       "HPLOUT",
			"Headphone Jack",       "HPROUT",
			"LINE1L",               "Line In",
			"LINE1R",               "Line In";
			
			simple-audio-card,bitclock-master = <&sound_master>;
			simple-audio-card,frame-master = <&sound_master>;
			
			simple-audio-card,cpu {
				sound-dai = <&i2s_clk_consumer>;
			};
			sound_master: simple-audio-card,codec {
				#sound-dai-cells = <0>;
				sound-dai = <&tlv320aic3104>;
				clocks = <&tlv320aic3104_mclk>;
				clock-names = "mclk";
			};
		};
	};
	fragment@13 {
		target = <&pciex1>;
		__overlay__ {
			max-link-speed = <3>;
			status = "okay";
		};
	};

	fragment@14 {
		target = <&uart0>;
		__overlay__ {
			status = "okay";
		};
	};
};	
