/*
 * Copyright (C) 2021 Seeed Studio
 * Zhangqun Ming <north_sea@qq.com>
 *
 * MIT License
 *
 */
/dts-v1/;
/plugin/;

/ {
    compatible = "brcm,bcm2835", "brcm,bcm2708", "brcm,bcm2709", "brcm,bcm2711";

    fragment@0 {
        target-path="/";
        __overlay__ {
            hardware = "reTerminal plus V1.0";
        };
    };

	fragment@1 {
		target = <&i2c1>;
		__overlay__ {
			status = "okay";

			/* this is the configuration part */
			clock-frequency = <300000>;

			#address-cells = <1>;
			#size-cells = <0>;
			
			pcf857x: pcf@21 {
				compatible = "nxp,pcf8575";
				reg = <0x21>;
				status = "okay";

				gpio-controller;
				#gpio-cells = <2>;

			};

			ltr303@29 {
				compatible = "liteon,ltr303";
				reg = <0x29>;
				status = "okay";
			};
			
		};
	};
	
	fragment@2 {
		target = <&gpio>;
		__overlay__ {

			pcf857x_pins: pcf857x_pins@21 {
				brcm,pins = <6>;     /* gpio number */
				brcm,function = <0>; /* 0 = input, 1 = output */
				brcm,pull = <2>;     /* 0 = none, 1 = pull down, 2 = pull up */
			};

			pwm_pins: pwm_pins {
				brcm,pins = <13>;
				brcm,function = <4>; // ALT0
			};
		};
	};

	fragment@3 {
		target = <&pcf857x>;
		mcp23008_irq: __overlay__ {
			#interrupt-cells=<2>;
			interrupt-parent = <&gpio>;
			interrupts = <6 2>; /* IRQ_TYPE_EDGE_FALLING */
			interrupt-controller;
			//microchip,irq-mirror;
		};
	};

	fragment@4 {
		target = <&dsi1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			port {
				dsi_out_port: endpoint {
					remote-endpoint = <&panel_dsi_port>;
				};
			};
			mipi_dsi: mipi_dsi@45 {
				compatible = "nwe,nwe080";
				reg = <0>;

				backlight = <&lcd_backlight>;
				reset-gpios=<&pcf857x 15 1>;

				port {
					panel_dsi_port: endpoint {
						remote-endpoint = <&dsi_out_port>;
					};
				};
			};
		};
	};

	fragment@5 {
		target = <&i2c3>;
		__overlay__ {
			status = "okay";

			/* this is the configuration part */
			clock-frequency = <100000>;

			#address-cells = <1>;
			#size-cells = <0>;
			
			pcf8563@51 {
				compatible = "nxp,pcf8563";
				reg = <0x51>;
			};
		};
	};

	fragment@6 {
		target = <&leds>;
		__overlay__ {
			compatible = "gpio-leds";

			lcd_pwr_en: lcd_pwr_en {
				label = "lcd-pwr";
				linux,default-trigger = "default-off";
				gpios = <&pcf857x 8 0>;
				default-state = "on";
			};

			usr_led10: usr_led10 {
				label = "usr-led";
				linux,default-trigger = "default-off";
				gpios = <&pcf857x 9 0>;
				default-state = "on";
			};
		};
	};

	fragment@7 {
			target = <&pwm>;
			frag1: __overlay__ {
					pinctrl-names = "default";
					pinctrl-0 = <&pwm_pins>;
					assigned-clock-rates = <1000000>;
					status = "okay";
			};
	};

	fragment@8 {
			target-path = "/";
			__overlay__ {
					lcd_backlight: lcd_backlight {
							compatible = "pwm-backlight";
							brightness-levels = <0 6 8 12 16 24 32 40 48 64 96 128 160 192 224 255>;
							default-brightness-level = <14>;
							pwms = <&pwm 1 200000>;
							power-supply = <&vdd_3v3_reg>;
							status = "okay";
					};
			};
	};

	fragment@9 {
		target = <&i2c0>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			 gt9271: gt9271@5d {
				compatible = "goodix,gt9271";
				reg = <0x5d>;
				interrupt-parent = <&pcf857x>;
				interrupts = <10 2>; // high-to-low edge triggered
				irq-gpios = <&pcf857x 10 0>;
				reset-gpios = <&pcf857x 7 0>;
				touchscreen-inverted-x;
			};
		};
	};

	__overrides__ {
	};
};

